@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
}

h1{
    text-align: center;
}

section{
    box-sizing: border-box;
    background-color: darkgray;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
}

header{
    padding: 5px;
    text-align: center;
    background-color: darkgray;
    border-radius: 20px;
    padding: 40px;
    max-width: 600px;
    margin: 100px auto;
}

a{
    color: black;
}

